<br>
description: {{ projectDescription }}
<br>

{{#each usedTechnologies}}


<img src={{this.icon}} />
<h4>{{this.name}}</h4>

{{/each}}

<br>
credits: {{ credits }}
<br>
gitHubLink: {{ gitHubLink }}